<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        #form-div{
            background-color: rgba(227, 232, 240, 0.61);
            border: 2px solid gray;
            border-radius: 5px;
            padding: 1em;
            margin: 2% 25% 2% 25%;
        }
        #list-div{
            /* background-color: rgb(148, 149, 151); */
            /* border: 2px solid black; */
            padding: 1em;
            margin: 2% 25% 2% 25%;
        }
        p{
            font-style: italic;
            font-weight:600;
            font-size: large;
            text-align: right;
            margin: 2% 0;

        }
        /* button{
            margin: 4px 2px;
        } */

    </style>

</head>
<body>
    <h2 class="text-center">Expense Tracker</h2>
    
   <div id="form-div">
    
        <form id="form1">
            <label for="amount" class="form-label">Expense Amount :</label>
            <input type="number" id="amt" name="amount" class="form-control" required>

            
            <label for="description" class="form-label">Description :</label>
            <input type="text" id="desc" name="description" class="form-control" required>

            <label for="category" class="form-label">Category :</label>
            <select name="category" id="select" class="form-control">
                <option value="Entertainment">Entertainment</option>
                <option value="Food">Food</option>
                <option value="Daily">Daily Necessities</option>
                <option value="clothes">Clothes</option>
            </select>

            <br>
            <input type="submit" id="addExp" name="submit" value="Add Expense" class="btn btn-sm btn-success mt-2">
            <br>
        </form>
        <button id="rzr-btn" class="btn btn-sm btn-primary mt-2 float-right">Buy Premium</button>
        <p id="premium"></p>
        <button id="db_button">Show dashboard</button>
    
   </div>

    <div id="list-div">
        <h1>Your Expenses</h1>
        <ul id="list-group"></ul>
    </div>
    <div id="dashboard-div">
        <h2 id="leaderboard_h2"></h2>
        <ul id="leaderboard-group"></ul>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
       const myForm = document.querySelector('#form1');
        const addExp = document.querySelector('#addExp');
        const expAmt = document.querySelector('#amt');
        const desc = document.querySelector('#desc');
        const cat = document.querySelector('#select');
        const ul=document.getElementById("list-group");
        const rzr = document.getElementById('rzr-btn');
        const p = document.getElementById('premium');
        const div = document.getElementById('db');

        console.log(document.getElementById('rzr-btn'));

        window.addEventListener('DOMContentLoaded', ()=>{
            const token = localStorage.getItem('tokenKey');
            axios.get('http://localhost:8000/expense/getexpense', {headers: {"Authorization": token}})
            .then(response=>{
                console.log(response);
                if(response.data.premiumUser===true){   
                    // rzr.style.visibility = "hidden";
                    // rzr.disabled = "true";   
                    rzr.remove(); 
                    p.textContent="Premium User";
                    p.style.color="rgb(218,165,32)"  
                    // const bt = document.createElement('button');
                    // bt.appendChild(document.createTextNode('Show Dashboard'));
                    // div.appendChild(bt);
                    // bt.className ="btn btn-sm btn-primary mt-2 db_button";
                    // bt.id="dashboard"

                }
            for(let i=0;i<response.data.allExpenses.length;i++){
                showObjOnScreen(response.data.allExpenses[i]);
            }
            
            })
            .catch(err=>{
                console.log(err);
            })
        })

        myForm.addEventListener('submit', onSubmit);

        function onSubmit(e){
            e.preventDefault();
            const token = localStorage.getItem('tokenKey');
            if(expAmt.value==='' || desc.value==='' || cat.value=== ''){
                alert('Enter the values!');
            }
            else{
                let myObj = {
                    amt:expAmt.value,
                    des:desc.value,
                    cg:cat.value
                }
                axios
                .post('http://localhost:8000/expense/addexpense', myObj, {headers: {"Authorization": token}})
                .then(response=>{
                    showObjOnScreen(response.data.newExpense);
                    // console.log(response)
                })
                .catch(err=>console.log(err));
            }
        }

        function showObjOnScreen(obj){
            
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(`${obj.description}`));
            li.appendChild(document.createTextNode(` - ${obj.amount}`));
            li.appendChild(document.createTextNode(` - ${obj.category} `));
            ul.appendChild(li);

            let del = document.createElement('button');
            del.className="btn btn-danger btn-sm delete";
            del.appendChild(document.createTextNode("delete"));
            li.appendChild(del);

            let edit = document.createElement('button');
            edit.type="button";
            edit.className="btn btn-secondary btn-sm float-right edit";
            edit.appendChild(document.createTextNode("Edit"));
            li.appendChild(edit);
        }

        ul.addEventListener('click', deleteItem);
        function deleteItem(e){
            if(e.target.classList.contains('delete')){
                let user = e.target.parentElement;
                ul.removeChild(user);
                const token = localStorage.getItem('tokenKey');

                axios.get('http://localhost:8000/expense/getexpense', {headers: {"Authorization": token}})
                .then(response=>{
                    for(let i=0;i<response.data.allExpenses.length;i++){
                        if(response.data.allExpenses[i].description===user.firstChild.textContent){
                            axios
                            .delete(`http://localhost:8000/expense/deleteexpense/${response.data.allExpenses[i].id}`)
                            .catch(err=>console.log(err));
                        }
                    }
                })
                .catch(err=>{
                    console.log(err);
                })
            }
        }

        ul.addEventListener('click', editItem);
        function editItem(e){
            if(e.target.classList.contains('edit')){
                let user = e.target.parentElement;
                ul.removeChild(user);
                const token = localStorage.getItem('tokenKey');

                axios.get('http://localhost:8000/expense/getexpense', {headers: {"Authorization": token}})
                .then(response=>{
                    for(let i=0;i<response.data.allExpenses.length;i++){
                        if(response.data.allExpenses[i].description===user.firstChild.textContent){
                            expAmt.value=response.data.allExpenses[i].amount;
                            desc.value=response.data.allExpenses[i].description;
                            cat.value=response.data.allExpenses[i].category;
                            axios
                            .delete(`http://localhost:8000/expense/deleteexpense/${response.data.allExpenses[i].id}`)
                            .catch(err=>console.log(err));
                        }
                    }
                })
                .catch(err=>{
                    console.log(err);
                })
            }
        }

        

        document.getElementById('rzr-btn').onclick = async function(e){
            const token = localStorage.getItem('tokenKey');
            const response = await axios.get('http://localhost:8000/purchase/premiummembership', {headers: {"Authorization": token}});
            // console.log(response);
            var options = {
                "key": response.data.key_id,
                "order_id": response.data.order.id,
                "handler": async function(response){
                    console.log(response);
                    await axios.post('http://localhost:8000/purchase/updatetransactionstatus', {
                        order_id: options.order_id,
                        payment_id:response.razorpay_payment_id,
                    },{headers: {"Authorization": token}})
                    alert('You are a Premium User now');
                    location.reload();
                }
            }
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', async function (response){
                // console.log(response);
                // console.log(response.error.metadata.payment_id);
                await axios.post('http://localhost:8000/purchase/failedtransaction', {
                    order_id: options.order_id,
                    payment_id:response.error.metadata.payment_id,
                }, {headers: {"Authorization": token}})
                alert('Transcation failed. Please try again!');
            })
            rzp1.open();
            e.preventDefault();
        }
        const dbButton = document.getElementById('db_button');
        console.log(dbButton);
        dbButton.onclick = async function(e){
            const response = await axios.get('http://localhost:8000/purchase/showdashboard')
            console.log(response.data[1].totalExpense);
            response.data.forEach(arr => {
                // if(arr.totalExpense===undefined){
                //     arr.totalExpense=0;
                // }
                const li = document.createElement('li');
                li.appendChild(document.createTextNode(`${arr.name} - ${arr.totalExpense}`))
                document.getElementById('leaderboard-group').appendChild(li)
            });
            
        }
        


    </script>

</body>
</html>